body {
    background-color: rgb(23, 33, 43);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
}

#app {
    text-align: center;
}
