body {
    background-color: rgb(23, 33, 43);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(220, 220, 220);
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#app {
    text-align: center;
    width: 100%;
}

.hidden {
    display: none;
}

#buttons, #menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.default-button {
    background-color: rgb(35,46,60);
    color: rgb(220, 220, 220);
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
}

#header {
    background-color: rgb(35, 46, 60);
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: rgb(220, 220, 220);
    text-align: center;
}

#header.highlight {
    background-color: rgb(220, 200, 20);
    color: rgb(220, 220, 220);
}

#header-text {
    margin: 0;
    font-size: 24px;
}

#return-button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgb(35, 46, 60);
    color: rgb(220, 220, 220);
}

#return-button {
    background-color: transparent;
    color: inherit;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    font-size: 24px;
    cursor: pointer;
}

#profile-section {
    margin-top: 80px;
}