body {
    background-color: rgb(23, 33, 43);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(220, 220, 220);
    font-family: Arial, sans-serif;
}

#app {
    text-align: center;
}

.hidden {
    display: none;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.default-button {
    background-color: rgb(35,46,60);
    color: rgb(220, 220, 220);
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
}

.form-field {
    text-align: left;
    margin-bottom: 16px;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.input-field {
    width: 100%;
    padding: 12px 25px;
    border-radius: 16px;
    border: none;
    font-size: 16px;
    background-color: rgb(35,46,60);
    color: rgb(220, 220, 220);
    box-sizing: border-box;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: rgb(220, 220, 220);
    margin-bottom: 24px;
}

.link {
    color: rgb(60, 72, 88);
    cursor: pointer;
    text-decoration: none;
}

#founder-form h4, #developer-form h4 {
    margin-bottom: 6px;
    margin-top: 14px;
}

#developer-job-offers {
    margin-bottom: 24px;
}
